@keyframes blink{
	0%{background-color:#C2BB49;
		color:#F9E9E9;}

	75%{background-color:#F9E9E9;
		color:#C2BB49;}

	100%{background-color:#C2BB49;
		color:#F9E9E9;}

	}
}

@font-face{
	font-family: mazius;
	src: url(./MAZIUSREVIEW.otf);

}


@font-face{
	font-family:maziusItalic;
	src:url(MAZIUSREVIEWItalic.otf);
}

@font-face{
	font-family:maziusxtra;
	src:url(MAZIUSExtraitalic.otf);
}
html{
	font-family:mazius;
	background-color:#6C5A38;
	color:#F9E9E9;
}

h1{
	font-size:40vh;
/*	position:absolute;*/
	top:0.1vh;
	left:0.1vw;
	line-height: 35vh;
	padding-top: 0;
	font-weight:normal;
}

h2{
	color:#C2BB49;
	font-family:maziusItalic;
	font-size:35vh;
}
h3{
	animation:blink 0.5s infinite;
	font-size:9vh;
	border-radius:50%;
	color:#F9E9E9;
	font-family:maziusxtra;
	background-color:#C2BB49;
	width:35vh;
	display: flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	position:absolute;
	right:10vw;
	top:15vh;
	transform:rotate(345deg);
	
}

button{
	background-color:#C2BB49;
	border:none;
	font-family: maziusItalic;
	font-size:7vw;
	color:#F9E9E9;
	position:absolute;
	left:600px;
	top:825px;
	z-index: 100;

}

button:hover{
	color:#6C5A38;
}

input{
	background-color:#C2BB49;
	border:none;
	font-family: maziusItalic;
	font-size:5vw;
	color:#F9E9E9;
	width:99vw;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
	height:auto;
	position:absolute;
	/*top:2000px;*/


}

img{
z-index: 200;
min-height: 100vh;
min-width:100vw;
}




#location{
	color:#C2BB49;
	font-family:maziusItalic;
}
